
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Настани</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div class="favorites-wrapper">

<section class="favorite-section">
    <div class="section-header">
        <h2>Омилени</h2>
    </div>


    <a href="/" class="favorite-back-btn">⬅ Назад</a>

    <div class="favorite-card" th:each="fav : ${favorites}">
        <div class="favorite-card-body">
            <h3 th:text="${fav.post.title}">Име на настан</h3>
            <p><strong>Опис:</strong> <span th:text="${fav.post.getDescription()}"></span></p>
            <p><strong>Категорија:</strong> <span th:text="${fav.post.getCategory()}"></span></p>
            <p><strong>Датум:</strong> <span th:text="${#temporals.format(fav.post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span></p>
            <p><strong>Објавил:</strong> <span th:text="${fav.post.owner.getUsername()}"></span></p>

            <form th:action="@{'/favorites/remove/' + ${fav.post.id}}" method="post">
                <button type="submit" class="favorite-remove-btn">🗑️ Избриши</button>
            </form>
        </div>
    </div>
</section>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>