<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма за настан</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="section">
    <h2 th:text="${eventPost.id} != null ? 'Измени настан' : 'Креирај нов настан'"></h2>

<form th:action="${eventPost.id} != null ? @{/event-posts/update} : @{/event-posts}" th:object="${eventPost}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Име:</label>
    <input type="text" th:field="*{title}" required/>

    <label>Категорија:</label>
    <select th:field="*{eventCategory}" required>
        <option value="" disabled th:if="${eventPost.eventCategory == null}" selected>Избери категорија</option>
        <option th:each="cat : ${T(com.studentshub.model.enumerations.EventCategory).values()}"
                th:value="${cat}" th:text="${cat}"
                th:selected="${cat} == ${eventPost.eventCategory}">
        </option>
    </select>

    <label>Локација:</label>
    <input type="text" th:field="*{location}" required/>

    <label>Слободен влез:</label>
    <input type="checkbox" th:field="*{free}"/>

    <label>Цена:</label>
    <input type="number" th:field="*{price}" min="0" th:disabled="*{free}"/>

    <label>Опис:</label>
    <textarea th:field="*{description}"></textarea>

    <label>Организатор:</label>
    <input type="text" th:field="*{organizer}"/>

    <label>Слика (URL):</label>
    <input type="text" th:field="*{imageUrl}" placeholder="https://..."/>

    <button type="submit">Зачувај</button>
</form>
</section>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
